<div class="relative">
  <img src="assets/template/template.png" alt="">

  <p class="absolute top-32 right-16 text-lg text-right">
    <span class="font-bold">INGENIERÍA EN SOFTWARE</span><br>
    Suchiapa, Chiapas. {{ fechaActual }}
  </p>

  <p class="absolute top-80 left-72 text-lg leading-tight font-bold">
    PTC'S Y PA'S<br>
    Ingeniería en Software<br>
    Universidad Politécnica de Chiapas
  </p>

  <p class="absolute top-[540px] left-72 right-16 text-lg text-justify leading-relaxed">
    Por medio de la presente me dirijo a usted de la manera más atenta, para hacer de su
    conocimiento que el C. <span class="font-semibold">{{ name }}</span> estudiante de la carrera de
    Ingeniería en Software con matrícula <span class="font-semibold">{{ matricula }}</span>, no se presentará a clases del <span class="font-semibold">{{ startDate }} - {{ endDate }}</span> de
    {{ month }} del año en curso, por temas de <span class="font-semibold">{{ reason }}</span>; por lo que solicito de ustedes su apoyo para
    recibirle tareas, así como otras actividades realizadas en su ausencia.
  </p>

  <p class="absolute top-[780px] left-72 right-16 text-lg leading-relaxed">Sin más por el momento, le reitero mis más cordiales saludos.</p>

<p class="absolute top-[1040px] left-72 text-lg">
  <span class="font-bold">ATENTAMENTE</span><br>
  <span class="italic text-base">"TECNOLOGÍA PARA EL BIEN COMÚN"</span>
</p>

<p class="absolute top-[1200px] left-72 text-6xl font-bold text-blue-700 transform -rotate-12 opacity-70">Firma</p>

<p class="absolute top-[1300px] left-72 text-lg leading-tight border-t-2 border-black w-72 pt-2">
  <span class="font-bold">Mtro. {{ nombreCompletoTutor }}</span><br>
  <span class="text-base">Tutor</span><br>
  <span class="text-base">Ingeniería en Software</span>
</p>
</div>